* {
    @include box-sizing(border-box);
}

//== P
p{
    margin:0;
}

//== Image
img{
    border:0;
}

//== Ul->li
ul{
    @include list-clear();
}

//== dl->dt/dd
dl, dt, dd{
    margin:0;
}

//== Table
table{
    border:0;
    margin:0;
    border-collapse:collapse;
    border-spacing:0;
    td{
        padding: 0;
    }
}

//== Text Color
.text-white{
    color: white;
}
.text-black{
    color: black;
}

//== Font weight
.text-bold{
    font-weight:bold !important;
}
.text-normal{
    font-weight:normal !important;
}
.text-lighter{
    font-weight:lighter !important;
}

//== Text align, vertical-align
.text-left{
    text-align:left !important;
}
.text-center{
    text-align:center !important;
}
.text-right{
    text-align:right !important;
}
.text-top{
    vertical-align:top !important;
}
.text-bottom{
    vertical-align:bottom !important;
}
.text-middle{
    vertical-align:middle !important;
}
.text-baseline{
    vertical-align:baseline !important;
}

//== Disply: block, inline, inline-block
.hide{
    display: none;
}
.block{
    display:block !important;
}
.inline{
    display:inline !important;
}
.inline-block{
    display:inline-block !important;
}

//== Overflow
.overflow-hidden{
    overflow:hidden;
}
.overflow-x-hidden{
    overflow-x:hidden;
}
.overflow-y-hidden{
    overflow-y:hidden;
}

//== transition
.transition{
    @include transition(all $transition);
    &.slow{
        @include transition(all $transition-slow);
    }
}
.transition-top{
    @include transition(top $transition);
    &.slow{
        @include transition(top $transition-slow);
    }
}
.transition-left{
    @include transition(left $transition);
    &.slow{
        @include transition(left $transition-slow);
    }
}
.transition-opacity{
    @include transition(opacity $transition);
    &.slow{
        @include transition(opacity $transition-slow);
    }
}

//== width
.width-full{
    width: 100%;
}
.width-half{
    width: 50%;
}
.width-oneThird{
    width: 33.333%
}
.width-quarter{
    width: 25%;
}

//== margin
.margin-auto{
    margin: 0 auto;
}

//== clear
.clear-padding{
    padding: 0 !important;
}
.clear-margin{
    margin:0 !important;
}

//== cursor
.cursor-pointer{
    cursor: pointer;
}
.cursor-default{
    cursor: default;
}