body
{
    font-family: $font-family-chinese;
    font-size: $font-size-base;
    margin: 0;
    color: $color-text;
    background: $background-color;
    line-height: $line-height-base;
    overflow-x: hidden;
}

//== Font size
.f1, h1 { font-size: $font-size-1; }
.f2, h2 { font-size: $font-size-2; }
.f3, h3 { font-size: $font-size-3; }
.f4, h4 { font-size: $font-size-4; }
.f5, h5 { font-size: $font-size-5; }
.f6, h6 { font-size: $font-size-6; }
.f7{ font-size:$font-size-7; }
.f8{ font-size:$font-size-8; }
h1, h2, h3, h4, h5, h6{
    font-weight:normal;
    margin:0;
}

a{
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:active{
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}
input, textarea{
    font-family: $font-family-chinese;
    font-size:$font-size-base;
}
input[type="checkbox"]{
    vertical-align: middle;
}

hr{
    background: $color-line;
    border:0;
    height:1px;
    margin:0;
}

//== Text Color
.text-gray{
    color: $gray;
}
.text-gray-dark{
    color: $gray-dark;
}
.text-gray-darker{
    color: $gray-darker;
}
.text-gray-light{
    color: $gray-light;
}
.text-gray-lighter{
    color: $gray-lighter;
}
.text-red{
    color: $color-red;
}

//padding
.padding{
    padding: $padding-vertical-base $padding-horizontal-base;
}
.padding-large{
    padding: $padding-vertical-large $padding-horizontal-large;
}
.padding-small{
    padding: $padding-vertical-small $padding-horizontal-small;
}
.padding-horizontal{
    padding: 0 $padding-horizontal-base;
}
.padding-horizontal-large{
    padding: 0 $padding-horizontal-large;
}
.padding-horizontal-small{
    padding: 0 $padding-horizontal-small;
}


//unselect
.unselect {
    @include user-select(none);
}